h1 {
    color: pink;
}

body {
    color: white;
    background-color: rgb(184, 177, 228);
    font-family: Poppins;
}

#trial {
    font-weight: bold;
    color: fuchsia;
}

img {
    height: 170px;
    width: 170px;
    border-radius: 0 20px 0 20px;
    border: 3px solid black;
}

a {
    display: block;
    text-align: center;
    margin: 10px;
    color: rgb(0, 80, 252);
    background-color: white;
    padding: 20px;
    font-family: Courier New;
    border-radius: 10px;
}